.container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: large; */
    text-align: center;
    font-size: larger;
    margin-bottom: 30px;
    font-weight:500;
}

.centering{
    display: flex;
    justify-content: center;
}